@import "tailwindcss";

.scrollbar-none {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Webkit */
}